@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c2c54;
  --foreground: #e3fefc;
  --bright-white: #ffffff;
  --text-color: #e7efee;
  --secondary-text-color: #e7efee;
  --icon-color: #303030;
  --icon-hover-color: #000000;
  --icon-active-color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
  }
}

@layer components {

  /* Global Styles */
  body {
    font-family: 'Montserrat', sans-serif;
    overflow: auto !important;
    @apply w-screen h-screen bg-transparent m-0 p-0 text-white bg-[--background];
  }

  /* Background and Overlay */
  .fullwidth-background {
    z-index: -3;
    @apply fixed h-screen w-screen bg-cover bg-center bg-no-repeat bg-fixed bg-opacity-50;
  }

  .dark-overlay {
    z-index: -1;
    opacity: 0.25;
    background: #010c14;
    @apply absolute inset-0;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200vw;
      height: 200vw;
      background: radial-gradient(circle, #e3fefc 30%, transparent 70%);
      border-radius: 50%;
      animation: rise 2s ease-out forwards;
      z-index: -1;
    }
  }

  /* Header Styles */
  .header {
    @apply w-full block text-white z-0 p-0 m-0;

    .topbar {
      @apply w-full flex flex-row flex-wrap justify-between items-center text-white p-2;

      .left-menu {
        @apply flex flex-row flex-wrap justify-between items-center gap-2 text-lg;

        svg {
          font-size: 30px;
          opacity: 0.9;
        }
      }

      .right-menu {
        @apply flex flex-row flex-wrap justify-between items-center gap-3;

        .avatar {
          border-radius: 100%;
          width: 30px;
          height: 30px;
          @apply mt-1 border-2 border-white border-opacity-40;
        }

        #login-form {
          @apply flex flex-row flex-wrap justify-between items-center gap-3 mt-4;

          &.logged-out {
            @apply border border-white p-0;
          }

          input {
            @apply bg-transparent text-white border-l border-white p-2 text-sm;

            &::placeholder {
              @apply text-white opacity-80 font-light italic;
            }
          }

          .login {
            @apply bg-transparent text-white border-l border-white p-2 font-light bg-white bg-opacity-20 uppercase text-sm;
          }

          .logout {
            @apply border-l-0;
          }
        }
      }
    }
  }

  /* Calendar Styles */
  #calendar {
    color: var(--foreground);
    @apply bg-transparent font-normal font-light text-sm relative float-right mt-10 mb-10 mr-10;

    th,
    tr {
      @apply font-light uppercase text-shadow;
      letter-spacing: 0.09rem;
    }

    tr {
      th {
        @apply p-2.5 pt-5 text-center text-white;
      }

      td {
        @apply text-center text-white font-light p-2.5 border-t border-white border-opacity-40 text-shadow m-7;
      }

      &:last-child td {
        @apply border-b-0;
      }
    }

    svg {
      @apply font-light text-white border border-white border-opacity-40 rounded-full p-0.5;

      &:nth-child(1) {
        @apply absolute left-2;
      }

      &:nth-child(2) {
        @apply absolute right-2;
      }
    }

    .month-name {
      @apply text-base;
    }

    .current-day span {
      @apply p-3 border border-opacity-30;
    }
  }

  /* Main Content Styles */
  .main {
    z-index: 0;
    @apply absolute p-0 m-0 h-screen w-screen;
  }

  /* Post List Styles */
  .post-list {
    @apply mt-10 pb-20 flex flex-col items-center justify-center;

    .post-list__nav {
      @apply flex flex-row justify-between items-center w-5/6 md:w-3/6 pr-7 pl-7;

      a {
        @apply text-white text-shadow opacity-80;

        svg {
          @apply text-white text-shadow mt-2;
          font-size: 20px;
        }
      }
    }

    .post-list__collections { 
      @apply flex flex-col flex-wrap justify-between items-center gap-2;

      a {
        @apply uppercase text-shadow text-white text-lg p-3;
       }
    }

    .post-list__collections--title {
      @apply uppercase text-shadow text-white text-lg p-3;
    }

    .post-list__items {
      @apply w-5/6 md:w-3/6 flex flex-col items-start justify-center gap-5 mr-0 mt-5 pr-3 pl-3 pt-10 pb-7;


      .post-list__item {
        @apply relative w-full bg-[--bright-white] bg-opacity-70 p-5 text-black;
        border-radius: 4px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.85);

        .post-list__item--bookmarked {
          @apply absolute text-gray-500;
          left: 15px;
          top: -7px;
        }

        .post-list__item--text {
          @apply relative pt-1;
          width: 95%;
        }

        .image-edit-form {
          @apply flex flex-row flex-wrap justify-between items-center gap-2;

          button {
            @apply bg-gray-300 p-2 pl-3 pr-3 rounded text-black text-opacity-80;


            &:hover {
              @apply bg-gray-500 text-white;
            }
          }
        }

        .post-list__item__signifiers {
          @apply absolute bottom-0 right-0;
          bottom: 2px;
        }

        .post-list__item__signifiers,
        .post-list__actions {
          @apply bg-transparent pt-2 pb-2 pr-2 text-lg text-gray-500;

          .post-list__action-button {
            @apply bg-transparent pt-2 pb-2 pr-2 text-lg;
          }

          .post-list__item__signifiers-selector {
            @apply absolute bg-[#f1f2f2] flex flex-row rounded;
            bottom: 5px;
            right: 35px;
            z-index: 2;
            animation: slide-signifiers-in 0.2s ease-in-out;

            li {
              @apply bg-gray-100 p-1.5 m-1 rounded;

              &:hover {
                @apply bg-gray-400 text-white;
              }
            }
          }
        }

        .post-list__item--reactions {
          @apply absolute bottom-0 text-gray-100;
          bottom: 10px;
          right: 35px;
          z-index: 0;
          animation: slide-signifiers-in 0.2s ease-in-out;
        }

        .post-list__item__actions-button {
          @apply absolute right-0 p-2 text-3xl;
          top: -18px;
          color: #5f5f5f;
        }

        .post-list__item__actions {
          @apply absolute rounded-sm;
          top: -70px;
          right: 50px;
          width: 200px;
          overflow: hidden;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          animation: slide-down 0.2s ease-in-out;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.95);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);

          li {
            @apply text-sm pl-3 pr-3 pt-2 pb-2;
            transition: all 0.2s ease-in-out;

            &.migrating {
              @apply border-t border-gray-300 border-b;
            }

            &:hover {
              @apply bg-gray-500 text-white;
            }

            &.bookmark {
              @apply bg-gray-200;

              svg {
                @apply text-gray-500;
              }

              &:hover {
                @apply bg-gray-200 text-black;
              }

              ul {
                @apply p-2 pt-4;
              }

              li {
                @apply flex flex-row flex-wrap justify-between items-center gap-0 p-1 pr-1 pl-1 border-t;
                transition: all 0.2s ease-in-out;


                &:hover {
                  @apply bg-gray-200 text-black font-bold border-b;
                  text-decoration: underline;
                }

                span {
                  color: black;
                  font-size: px;

                  &:hover {
                    color: red;
                    border-color: red;
                  }
                }
              }

              form {
                @apply w-full bg-transparent text-[#000000];

                input {
                  @apply w-full bg-transparent text-[#000000] p-2 border-b border-[#000000] border-opacity-80;
                  outline: 0;

                  &::placeholder {
                    @apply text-[#000000] opacity-80 font-light italic;
                  }
                }
              }


            }
          }
        }

        .post-list__item__footer-actions {
          @apply pt-0 mt-0 border-opacity-60 flex flex-row flex-wrap justify-end items-center gap-2;
        }

        &.post-list__item--image {
          background-color: rgba(255, 255, 255, 0.15);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);

          .post-list__item__actions-button  { 
            @apply bg-transparent text-white;
          }

          .post-list__item__signifiers {
            @apply text-white;

            .post-list__item__signifiers-selector {
              @apply text-white bg-transparent;

              li {
                @apply text-white bg-gray-500;

                &:hover{
                  @apply bg-gray-400;
                }
              }
            }
          }

          .post-list__item__footer-actions {
            @apply text-white;
          }
        }

        .not-found {
          @apply bg-transparent text-[#ffffff] text-center;
        }

        textarea {
          @apply bg-transparent text-[#555555] p-2 w-11/12;
        }

        img {
          max-height: 375px;
        }

      }
    }

    p.post-list__date {
      @apply uppercase tracking-wide text-shadow text-white;
    }
  }

  /* Footer Styles */
  .footer {
    @apply fixed bottom-0 left-0 right-0 justify-between items-center text-[--text-color] z-0;
  }

  /* Utility Classes */
  .clock {
    @apply bg-transparent text-white text-shadow;
  }
}

h1.next-error-h1, h1.next-error-h1 + div {
  @apply text-white text-center text-4xl border-white;
}

/* Animations */
@keyframes rise {
  from {
    transform: translateX(-50%) translateY(100%);
  }

  to {
    transform: translateX(-50%) translateY(75%);
  }
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    overflow: auto;
    height: 115px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-signifiers-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}